<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Deliverable_1"
        tools:targetApi="31">

        <!-- Your main entry point activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Other activities without intent filter for direct launch -->
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ClubOwnerDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".CurrentEventsAndClubs"
            android:exported="false" />
        <activity
            android:name=".EventDescription"
            android:exported="false" />
        <activity
            android:name=".ClubDescription"
            android:exported="false" />
        <activity
            android:name=".ClubDiscovery"
            android:exported="false" />
        <activity
            android:name=".EventDiscovery"
            android:exported="false" />
        <activity
            android:name=".UserDashboard"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".EventManagementActivity"
            android:exported="true" />
        <activity
            android:name=".AccountManagementActivity"
            android:exported="true" />
        <activity
            android:name=".ResultsAndAwardsActivity"
            android:exported="true" />
        <activity
            android:name=".RegistrationManagementActivity"
            android:exported="true" />
        <activity
            android:name=".RoutePlanningActivity"
            android:exported="true" />
        <activity
            android:name=".EventCreationActivity"
            android:exported="true" />
        <activity
            android:name=".EditClubProfileActivity"
            android:exported="true" />
        <activity
            android:name=".RateActivity"
            android:exported="true" />
    </application>

</manifest>
